html{
	width: 100%;
}

.nav{
	width: 100%;
}

.title {
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	color: #262B41;
}

/*RWD---------------------------*/
@media (max-width: 992px) {
	/*nav .form-inline{
		margin-left:60%; 
	}*/
	.login{
		display: none;
	}
	.search{
		visibility:hidden;
	}
	.nlLogin{
		display: inline!important;
	}
	.searchList{
		visibility:visible!important;
	}
}

@media (min-width: 768px) {
	.navbar{
		padding-left:50px!important;
		padding-right:50px!important; 
	}	
	footer .cr360{
		display: none;
	}

	.card{
		margin-bottom: 5%;
	}
	.nlLogin{
		display: none;
	}

	.searchList{
		visibility:hidden;
	}

}

@media (max-width: 767.9px) {
	.esM{
		margin-top: 15%;
	}
	.line{
		margin-top: 10%;
	}
	footer .cr768{
		font-size: 80%;
	}
	footer .cr360{
		display: none;
	}
	.bw_name, .card{
		margin-bottom: 5%;
	}
	.searchList{
		visibility:visible;
	}

}

@media (max-width: 425px) {
	footer .cr360{
		display: inline;
		padding-left: 10%;
	}
	footer .cr768{
		display: none;
	}
	
}

@media (max-width: 360px) {
	footer .p {
		font-size: 20px;
	}
	footer .fc{
		font-size: 15px;
	}

	nav .nl2, .nl3, .nl4{
		display: none;
	}
}


/*navigationBar---------------------------*/

.top-bar{
	background-color: #F35C5A;
}

.bottom-bar{
	background-color: #F9D401;
}

.nav-link{
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	width: 100%;
}

.nav-link1 a{ 
	color:#ECECEC;
}

.nav-link1{
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	width: 60%;
}

.nl{
	padding-right: 5%;
}

.navbar-brand img {
	height: 25px;
	width: 25px;
}

.iconB{
	margin-right: 20%;
}

.navbar-nav{
	width: 80%;
}

.nav-item2{
	padding-left: 5%;
}

::placeholder { 
	color:#ECECEC!important;
  }

.login{
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;	
	color: #262B41;
	margin-left: 1rem;
}


/*banner---------------------------*/
.banner .container-fluid {
	padding:0!important;
}

.banner{
	margin-bottom: 50px;
}

/*binge-watch---------------------------*/
.hover{
	transition: all 0.5s;
	position: relative; 
	width: 250px;
	height: 350px;
	}
	
	.hover span{
		z-index: 2; 
		display: block;
		position: absolute;
		width: 250px;
		height: 350px; 
	}
	.hover:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 250px;
		height: 350px;
		z-index: 1;
		opacity: 0;
		background-color: rgba(0,0,0,0.5);
		transition: all 0.4s;
		transform: scale(1, 0.5);
	}
	.hover:hover::before{
		opacity: 1;
		transform: scale(1, 1);
	}

.bw img{
	width: 250px;
	height: 350px;
}


.bw_name{
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	margin-top: 2%;
	color: #262B41;
}

.bw{
	padding-right: 20%;
}

.binge-watch {
	margin:50px 0 0 0;
	background-color: #ffffff;
	/*background:linear-gradient(#ffffff,#F0E5DE);*/
}

.binge-watch img {
	box-shadow:2px 2px 4px #262B41;
}

/*rank---------------------------*/
.ranks {
	background-color: #ffffff;
	margin-top: 50px;
}

.ranks img{
	width: 253px;
	height: 350px;
}


.ranks h5{
	font-family: Enriqueta;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: #F35C5A;
	height: 3rem;
	padding: 0% 0% 0% 3%;
}

.card p{
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	margin-top: 5%;
	color: #262B41;
}

.ranks card{
	width: 15rem;
}

/*news---------------------------*/
.news {
	background-color: #ffffff;
	margin-top: 50px;
	margin-bottom: 100px;
}

.news img{
	width: 318px;
	height: 250px;
}

.news .card{
	margin-right:5rem;
	width: 20rem; 
	height: 20rem;
}

.news .card-text{
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #262B41;
}

.news .ctTime{
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #8490A3;
}


.pic{
	width: 100%;
}

.img_news{
	width: 400px;
	height: 246px;
	margin-right:50%;
 }

/*footer---------------------------*/
footer {
	background-color: #8490A3;
	padding:20px 0; 
	height: 100%;
}

footer a{
	color: #ECECEC;
}

footer .row{
	margin-top: 1.5%;
	margin-left: 10%;

}

footer p {
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
	color: #ECECEC;
}

.fc{
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #ECECEC;
	line-height: 30px;
}

.lineF{
	margin-top: 2.5%;
	padding-bottom: 2px;
	border-color:#ECECEC;
}

.cr768 {
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #ECECEC;
}

.cr360{
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #ECECEC;
	padding-left: 20%;
}



/*.contact {
	height:750px;
	padding-top: 100px;
	background-image: url(../img/contact_bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}

.contact .title {
	color:#ffffff;
}

.contact .form {
	max-width: 600px;
	margin:0 auto;
	padding: 0 30px;
	color:#ffffff;
}

.form input {
	height: 40px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

.form textarea {
	height: 200px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

input[type=submit] {
  background-color: #ABD0CE;
  color: white;
  cursor: pointer;
  width: 100px!important;
  height: 48px;
}

input[type=submit]:hover {
  background-color: #8ABCB8;
}*/